.sidebar
  a.logo
    img(src="../images", alt="Pipeline")
  nav.navbar
    
  .quick-links
    h3.quick-links__title Quick Links
    -
      var quickLinkList = ["Team Overview", "Project", "Single Task", "Kanban Board"]
    ul.quick-links__list
      each item in quickLinkList
        li.quick-links__item
          a.quick-links__link item
  .sidebar__action
    .search
      form.search__form(action="#")
        span
          i.search__icon.fas.fa-search
        input.search__input(type="text" placeholder="Search")
    .add-new
      button.btn--add-new Add new
      -
        var addNewList = ["Team", "Project", "Task"]
      ul.dropdown
        each item in addNewList
          li.dropdown__item
            a.dropdown__link(href="#") item
    .profile
      +profile(class="profile__list--top")

      
