mixin profile()
  a.profile__link(href="#")
    img(src="../images/avatar.png", alt="avatar")
  -
    var profileList = ["Profile", "Account Settings", "Log Out"]
  ul.profile__list()&attributes(attributes)
    each item in profileList
      li.profile__item
        a.profile__link(href="#") item

      
    
